div{
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    margin: 10px;
    text-align: center;
    border: 2px solid;
}
#box1{
    transform: rotate(45deg);
}
#box2{
    transform: scale(0.5);
}
#box3{
    transform: translate(100px, 50px);
}
#box4{
    transform: skew(30deg);
}
#box5{
    transform: rotate(90deg) translate(50px);
}